:root {
  --default-border-radius: 0.5rem;
  --default-color: #FAF9F6;
  --default-dark-color: #111;

  --success-color: #55efc4;
  --notice-color: #fdcb6e;
  --error-color: #ff7675;
  --incorrect-color: #636e72;


  --background-transition: background-color .5s;
}

body {
  background: var(--default-dark-color);
  color: var(--default-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: system-ui;
}

.word-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
  width: min-content;
  margin: 1rem auto;
  font-weight: bold;

  &__word {
    display: flex;
    gap: inherit;
    width: 100%;
    justify-content: stretch;
  }

  &__letter {
    background: var(--default-color);
    color: var(--default-dark-color);
    width: 4rem;
    height: 4rem;
    display: inline-block;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: var(--default-border-radius);

    &--correct {
      background-color: var(--success-color);
      transition: var(--background-transition);
    }

    &--misplaced {
      background-color: var(--notice-color);
      transition: var(--background-transition);
    }

    &--incorrect {
      background-color: var(--incorrect-color);
      transition: var(--background-transition);
    }
  }
}

.keyboard {
  display: flex;
  width: min-content;
  margin: 1rem auto;
  gap: 0.3rem;
  flex-wrap: wrap;

  &__row {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: inherit;
  }

  &__key {
    display: inline-block;
    border-radius: var(--default-border-radius);
    background-color: var(--default-color);
    color: var(--default-dark-color);
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    border: 0;

    &--correct {
      background: var(--success-color);
      transition: var(--background-transition);
    }

    &--misplaced {
      background: var(--notice-color);
      transition: var(--background-transition);
    }

    &--incorrect {
      background: var(--incorrect-color);
      transition: var(--background-transition);
    }
  }
}

.notification {
  border-radius: var(--default-border-radius);
  font-size: 1rem;
  width: 4rem * 5 + (0.3rem * 4) - 2rem;
  padding: 1rem;
  margin: 0 auto 2rem;
  animation: show 500ms ease-in forwards;
  opacity: 0;

  &--error {
    background: var(--error-color);
  }

  &--success {
    background: var(--success-color);
    color: var(--default-dark-color)
  }
}

input {
  height: 4rem;
  background: var(--default-color);
  font-size: 2rem;
  border: 0;
  padding: 0 1rem;
  display: block;
  border-radius: var(--default-border-radius);
  margin: 0 auto 1rem;
}

button {
  margin: 0 auto;
  display: block;
  background-color: var(--default-color);
  border: 0;
  padding: 1rem 2rem;
  border-radius: var(--default-border-radius);
  cursor: pointer;
}

h1 {
  text-align: center;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}
